.player-guy {
    position: relative;
    height: 100px;
    width: 50px;
    margin-bottom: -390px;
    animation-name: run;
    animation-duration: 7s;
}
.head {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-color: tan;
}
.body {
    height: 100px;
    width: 80px;
    border-radius: 5px;
    background-color: red;
}
.arm-left {
    position: absolute;
    width: 25px;
    height: 70px;
    background-color: tan;
    margin-left: -10px;
    margin-top: -75px;
}
.arm-right {
    position: absolute;
    width: 25px;
    height: 70px;
    background-color: tan;
    margin-left: 70px;
    margin-top: -75px;
}
.legs {
    position: absolute;
    width: 60px;
    height: 70px;
    background-color: tan;
    margin-left: 10px;
}
.leg-divide {
    position: relative;
    width: 5px;
    height: 70px;
    background-color: black;
    margin-left: 37px;
}
.eye-left {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: 28px;
    margin-top: -35px;
}
.retna-left {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: black;
    margin-left: 35px;
    margin-top: -33px;
}
.eye-right {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: 45px;
    margin-top: -35px;
}
.retna-right {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: black;
    margin-left: 50px;
    margin-top: -33px;
}
.mouth {
    position: absolute;
    width: 32px;
    height: 7px;
    background-color: white;
    margin-top: -20px;
    margin-left: 24px;
}
@keyframes run {
    0% {left: 0px; top: 0px;}
    20% { left: 450px; top: 0px;}
    40% { left: 500px; top: -50px;}
    60% { left: 550px; top: -100px;}
    80% { left: 600px; top: -150px;}
    90% { left: 1200px; top: 0px;}
    100% { left: 0px; top: 0px; }
}