body{
    background-color: black;
}
.spacer {
    position: relative;
    margin-top: 50px;
    height: 200px;
}
.box-one{
    position: absolute;
    width: 200px;
    height: 100px;
    border-radius: 25px;
    margin-left: 25px;
    margin-top: 30px;
    text-align: center;
    background-color: white;
    animation-name: move;
    animation-duration: 8s;
}
.box-two{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    color: white;
    border-radius: 50px;
    background-color: white;
    animation-name: move;
    animation-duration: 8s;
}
.box-three{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    color: white;
    margin-left: 150px;
    border-radius: 50px;
    background-color: white;
    animation-name: move;
    animation-duration: 8s;
}
.box-four{
    position: absolute;
    width: 100px;
    height: 80px;
    color: white;
    margin-left: 90px;
    border-radius: 80px;
    background-color: white;
    animation-name: move;
    animation-duration: 8s;
}


@keyframes move {
    0% { left: 0px; top: 0px;}
    /* 25% { left: 200px; top: 0px;}
    50% { left: 500px; top: 0px;}
    75% { left: 1000px; top: 0px;} */
    100% { left: 1000px; top: 0px;}
}

