.robot-head{
    position: relative;
    margin-left: 617px;
    width: 120px;
    height: 120px;
    background-color: green;
}
.robot-body{
    position: absolute;
    margin-left: 40%;
    width: 250px;
    height: 300px;
    background-color: red;
}
.robot-rightarm{
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
    width: 150px;
    height: 50px;
    background-color: orange;
}
.robot-leftarm{
    position: absolute;
    margin-left: 800px;
    margin-top: 100px;
    width: 150px;
    height: 50px;
    background-color: blue;
}
.robot-rightForearm{
    position: absolute;
    margin-left: 250px;
    margin-top: 100px;
    width: 150px;
    height: 50px;
    background-color: pink;
    -webkit-animation-name: forearm;
    -webkit-animation-duration: 5s;
    animation-name: forearm;
    animation-duration: 5s;
    

}
@-webkit-keyframes forearm {
    from {background-color: pink;}
    to {background-color: yellow;}
  }
.robot-leftForearm{
    position: absolute;
    margin-left: 950px;
    margin-top: 100px;
    width: 150px;
    height: 50px;
    background-color: gray;
}
.robot-leftleg{
    position: absolute;
    margin-top: 300px;
    margin-left: 700px;
    width: 50px;
    height: 300px;
    background-color: black;
}
.robot-rightleg{
    position: relative;
    margin-top: 300px;
    margin-left: 600px;
    width: 50px;
    height: 300px;
    background-color: yellow;
}